* {
  margin: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background: linear-gradient(-45deg, #2e0134, #370c1c, #032430, #013529);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;

  display: grid;
  place-items: center;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

main {
  background: url(images/Background.png) no-repeat center/cover;
  width: 375px;
  height: 812px;
  border: 2px solid;
  border-radius: 10px;
  /*width: 100vw;
  min-height: 812px;
  height: 10vh;
  border-radius: 10px;*/

  /* animation: go-back 2s infinite alternate; */
}
/* @keyframes go-back {
  from {
    transform: translateX(50px);
  }
  to {
    transform: translateX(-50px);
  }
} */

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container p {
  color: var(--grey);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;

  position: relative;
}
.avatar span {
  position: absolute;
  top: -15px;

  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

h1 {
  font-size: 1.5rem;
  color: var(--grey);
  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;
  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}
